
        * {
            color: white; background-color: #2B4865;
            }
            .alert-text {
                text-align: center;
            }
    
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                display: block;
            }
    
            ul {
                display: table;
                margin: 0 auto;
            }
    
            .first-h2 {
                text-align: center;
                background-color: #2B4865;
            }
            
            .second-h2 {
                text-align: center;
                background-color:  #2B4865;
                margin: auto;
                padding: 10px;
    
            }
    
           

            .first-p {
                border: 5px solid #2B4865;
                background-color: #2B4865;
                text-align: center;   
                padding: 15px;
                margin: 20px; 
                margin-top: 50px;
                
            }
            
            .list-1 {
                background-color: #2B4865;
                text-align: center;
                
            }
    
            .list-text {
                background-color: #2B4865;
                padding-left: ;
                text-align: left;
                margin: 5px;
    
            }
    
            .list-text-1 {
                padding-bottom: 5px;
                background-color: #2B4865;
                text-align: left;
            }
    
            .style-h1 {
                text-align: center;
                color: white; 
                font-family: "Great Vibes", cursive; 
                font-size: 50px; 
                font-weight: normal;            
                text-shadow: 0 2px 2px #2B4865;
                margin: 20px;
            }
    
        
            .third-h2 {
                text-align: center;
                background-color: #2B4865;
            }

            .row {
                display: flex;
                
              }
    
            .column{
                float: left;
                width: 33.33%;
                text-align: center;
                flex: 1;
                flex-direction: column;
                
              }
    
             
            .button-1 {
                float: right;
                background-color: #2B4865;
                border: 2px solid white;
                color: white;
                padding: 10px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
    
            }
    
            .button-1:hover {
                background-color: grey;
                color: black;
                border: 2px solid #555555;
              }
    
            #footer-1 {
                text-align: center;
                margin: 25px;
                padding: 25px;
                background-color: #2B4865;
                color: #555555;
                margin-top: 150px;
            }

            .idkman {
                color: white;
                background-color: #2B4865; 
                font-size: small; 
            }

            * {
                font-family: GTHaptik,Helvetica,Arial,Sans-serif;
                font-size: 1.125rem;
                line-height: 1.2;
                color: white;
                font-weight: 400;
                letter-spacing: .04em;
                padding-top: 0.3125rem;
            }

            